<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Nathan Simple Google Calendar</title>
    <meta charset="utf-8">
    
    <!-- To keep things simple, I'm loading outside libraries via cdnjs, rather than downloading and making them as part of the local
         project. -->
    
    <!-- I weighed whether or not I should use bootstrap CSS to get some out-of-the-box responsiveness and styling, since maybe
         you wanted to see me define some responsive CSS manually myself. In the end I opted for using bootstrap, because for real
         projects, unless there is a requirement not to use pre-existing libraries, I think you should not reinvent the wheel, and 
         bootstrap is going to do a better job than I could do manually in a short time frame. -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
  </head>
  
  <body>
    <!-- templates for Backbone views -->
    <script id="event-template" type="text/template">
      <div class="row calevent">
        <div class="col-sm-2"><%= calevent.start.toLocaleTimeString() %></div>
        <div class="col-sm-2"><%= calevent.end.toLocaleTimeString() %></div>
        <div class="col-sm-8"><%- calevent.title %></div>
      </div>
    </script>
    
    <!-- main content/application body -->
    <div id="sgc-app" class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2><small>Simple</small> Google <small>Calendar</small></h2>
          <hr/>
          <p>Select a date to show events for that date from all your Google Calendars:</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <input id="cal-date" type="date"/>
          <button id="cal-go" class="btn btn-small btn-success">Go!</button>
          <button id="authorize" class="btn btn-primary pull-right hidden">Authenticate via Google</button>
        </div> 
      </div>
      <div class="row">
        <div class="col-sm-6"><hr/></div>
        <div class="col-sm-6"></div>
      </div>
      <div class="row">
       <div id="event-container" class="col-sm-12">
         <div class="row">
           <div class="col-sm-2"><h3>Start</h3></div>
           <div class="col-sm-2"><h3>End</h3></div>
           <div class="col-sm-8"><h3>Title</h3></div>
         </div>
       </div>
      </div>
      <div class="row">
        <div class="col-sm-6"><hr/></div>
        <div class="col-sm-6"></div>
      </div>
      <div class="row">
        <div id="new-event-container" class="col-sm-12 hidden">
          <button id="cal-new" class="btn btn-primary">Add New Event</button>
          <div>
            <br/>
            <p>Use Google Calendar's Quick Add function to add a new event (the description is the same as you would use in the Google Calendar Quick Add function).</p>
            <a target="_blank" href="https://support.google.com/calendar/answer/36604?hl=en">Google Calendar Quick Add help</a> 
            <label for="cal-new-desc">Quick Add description:</label>
            <input id="cal-new-desc" type="text"/>
          </div>
        </div>
      </div>
    </div>
    
    <!-- javascripts at the bottom to help with page load speed -->
    
    <!-- Using backbone.js as the client-side MVC framework which requires jQuery and underscore -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    
    <!-- Google JS Client Library and helper function for api loaded -->
    <script type="text/javascript">
      // if jQueryis ready, set a listener on the document (within a document ready call) for the google API being loaded;
      // either way set global flag in addition 
      var gapiIsLoaded = false;
      var GAPI_LOADED_EV = 'app:gapi-loaded'
      function gapiLoaded(){
        gapiIsLoaded = true;
        if ($) {
          $(function(){
            $(document).trigger(GAPI_LOADED_EV);
          });
        }
      }
    </script>
    <script src="https://apis.google.com/js/client.js?onload=gapiLoaded"></script>
    
    <!-- a few local JS files -->
    <script src="js/utils.js"></script>
    <script src="js/sgc.js"></script>
  </body>
</html>